html, body {
    margin: 0;
    padding: 0;

    background-color: grey;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    width: 500px;
    height: 500px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 1px solid red;
}

.rules {
    border: 1px solid red;
    display: flex;
    flex-direction: column;

    width: max-content;
    padding: 15px;

    position: sticky;
    top: 0;
    left: 0;

    background-color: white;
}